<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>Buy a Car !</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5 mt-5">Buy a Car ! </h1>
        </div>
        <div class="container ml-6">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">HOME</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">BEST OFFERS</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">CONTACT US</a>
                <a class="flex-sm-fill text-sm-center nav-link addNew" href="#">ADD NEW OFFER !</a>
              </nav>
        </div>
        <div class="container mt-5">
            <div class="card" style="width: 18rem;">
                <img src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6IjluYjZud3QycnZkYjItT1RPTU9UT1BMIiwidyI6W3siZm4iOiJ3ZzRnbnFwNnkxZi1PVE9NT1RPUEwiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.OVyHRFABS1ibu_TmoAL90__7adb74XqCXrM1sMVxf7M/image;s=1080x720" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Audi A5 45 TFSI S line quattro </h5>
                  <p class="card-text">350 550 PLN <br> 4197 PLN/month</p>
                  <a href="#" class="btn btn-primary">BUY NOW !</a>
                </div>
              </div>
        </div>

    </div>
</body>
</html>