<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>Buy a Car !</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5 mt-5">Sell a Car ! </h1>
        </div>
        <div class="container ml-6">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">HOME</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">BEST OFFERS</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">CONTACT US</a>
              </nav>
        </div>
        <div class="row">
            <form th:action="@{/car}" th:object="${car}" method="POST">
                         <!--TODO : ADDING NEW OFFER FORM-->
            </form>
    </div>
</body>
</html>