
h1 {
    color : black;

}
.addNew {
    font-size: 20px;
    background-color: white;
} 
.borderless {
    border:0.5px solid blue;
    background-color: transparent;
}
img {
    width:100%;
}
.card-border {
    border : 1px solid blue;
}
.img400x400 {
    max-width: 400px;
}
.spec-list p {
    font-size: 24px;
    color:blue;
}
.spec-list span {
    color : black;
    font-size:20px;
}