
h1 {
    color : black;

}
.addNew {
    font-size: 20px;
    background-color: white;
} 
.borderless {
    border:0.5px solid blue;
    background-color: transparent;
}
.offer-card {
    max-width:350px;
}
img {
    width:100%;
}